venv/
__pycache__/
*.pyc
.env
temp.sap
temp.wav
asma_bot_*/
runner.py
*.log
modarchive_cache.json
*.pid
favorites.json
last_collection.txt
archiwum/
blacklist.json
.hermes/
.vscode/
var/
*_cache_local.json
*_cache_old_urls.json
*_cache.json
archiwum
queues/
tmp/
build/
dist/
playlists/
*.egg-info/
