venv/
__pycache__/
*.pyc
.env
temp.sap
temp.wav
asma_bot_*/
runner.py
*.log
queues/
modarchive_cache.json
*.pid
favorites.json
last_collection.txt
archiwum/
blacklist.json
.hermes/plans/
playlists/
.vscode/
tmp/
var/
*_cache_local.json
*_cache_old_urls.json
archiwum
